@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800&display=swap');

body {
    font-family: 'Nunito Sans', sans-serif;;
}

*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.wrapper {
    max-width: 1180px;
    margin: 0 auto;
}

/*
Шапка
*/
.featured {
    width: 0 auto;
    height: 46px;
    background-color: #18154B;
}
.envelope, .my-email, .phone, .phone-text {
    float: left;
}
.envelope {
    margin-top: 15px;
}
.my-email{
    margin-top: 14px;
    margin-left: 10px;
    font-size: 14px;
}


.telegram, .whatsapp {
    float: right;
    margin-top: 10px;
}

.wrapper a {
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
}

.phone {
    margin-top: 15px;
    margin-left: 44px;
}
.phone-text {
    margin-top: 14px;
    margin-left: 9px;
}
.whatsapp{
    margin-right: 18px;
}
/*
завершение шапки
*/

/*
Меню
*/
.menu {
    width: 0 auto;
    height: 70px;
    background-color: #FFFFFF;
}

.base {
    background-color: #F0F5FB;
}
/*
end menu
*/

/*
block-3
*/
.fon {
    background-image: url("../img/advantages.png");
    height: 374px;
    padding: 0;
    margin-top: 80px;
    float: left;
}

/*
footer
*/
.footer {
    width: 0 auto;
    height: 336px;
    background-color: #18154B;
    overflow: hidden;
}

.column {
    width: 25%;
    float: left;
    color: #FFFFFF;
}
.column-2 {
    width: 25%;
    float: right;
    color: #FFFFFF;
}
.footer__logo {
    margin-top: 70px;
    font-size: 22px;
    font-weight: 800;
}
.footer__copirait {
    margin-top: 16px;
    font-size: 15px;
    font-weight: 400;
}
.footer__colum {
    margin-top: 74px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 700;
}
.column a {
    text-decoration: none;
    font-size: 15px;
}
.column-2 a {
    text-decoration: none;
    font-size: 15px;
}
.footer a:hover {
    font-size: 16px;
    transition: 0.2s;
}
.footer__otstup {
    margin-bottom: 8px;
}

.button_big {
    width: 200px;
    height: 50px;
    border-radius: 50px;
    float: right;
    color: #18154B;
    background-color: #FFFFFF;    
    padding: 15px 39px;
    font-size: 15px;
    font-weight: 700;
    margin-top: 20px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    margin-top: 60px;
    margin-bottom: 118px;
}
.button_big:hover {
    background-color: #ccc8c8; 
}

.right__side {
    float: right;
    margin-bottom: 8px;
}